{% extends "base.html" %}

{% load i18n %}

{% load l10n %}

{% load tz %}

{% block head_title %}{% trans "TuGymOnline" %}{% endblock %}

{% block content %}
<div id="main">	
    <div class="container">
   		<form action="{% url 'gymcontact:sendcontact' %}" method="post" class="gymclient_form">
   			{% csrf_token %}
	    	<div class="row">
		      	<h2 class="5u -3u 12u(mobile) form-contact-heading">{% trans "Contact us" %}</h2>
	      	</div>
	      	<div class="row">
		      	<p class="5u -3u 12u(mobile) form-contact-text">{% trans "Wanting to know more about TuGymOnline? <br />Complete the following fields and we will contact you as soon as possible." %}</p>
	      	</div>

   			<div class="row">
   				<div class="5u -3u 12u(mobile)">
   					<div class="input-group">
   						<span class="input-group-addon">
   							<i class="glyphicon glyphicon-home"></i>
   						</span>
    					<input class="form-control" id="id_{{ form.company.name }}" type="text" name="{{ form.company.name }}" placeholder="{{ form.company.label }}" value="{{ form.company.value|default_if_none:'' }}">
   					</div>
   				</div>
   				{% if form.company.errors %}
			  		<div class="col-md-4">
			  			<p class="alert alert-danger form-field-alert">
				  			{% for error in form.company.errors %}
				  				{{ error }}
				  			{% endfor %}
				  		</p>
			  		</div>
	  			{% endif %}
   			</div>
   			
   			<div class="row">
   				<div class="5u -3u 12u(mobile)">
   					<div class="input-group">
   						<span class="input-group-addon">
   							<i class="glyphicon glyphicon-user"></i>
   						</span>
    					<input class="form-control" id="id_{{ form.name.name }}" type="text" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" value="{{ form.name.value|default_if_none:'' }}">
   					</div>
   				</div>
   				{% if form.name.errors %}
			  		<div class="4u">
			  			<p class="alert alert-danger form-field-alert">
				  			{% for error in form.name.errors %}
				  				{{ error }}
				  			{% endfor %}
				  		</p>
			  		</div>
	  			{% endif %}
   			</div>
   			
   			<div class="row">
   				<div class="5u -3u 12u(mobile)">
   					<div class="input-group">
   						<span class="input-group-addon">
   							<i class="glyphicon glyphicon-phone"></i>
   						</span>
    					<input class="form-control" id="id_{{ form.phone.name }}" type="text" name="{{ form.phone.name }}" placeholder="{{ form.phone.label }}" value="{{ form.phone.value|default_if_none:'' }}">
   					</div>
   				</div>
   				{% if form.phone.errors %}
			  		<div class="4u">
			  			<p class="alert alert-danger form-field-alert">
				  			{% for error in form.phone.errors %}
				  				{{ error }}
				  			{% endfor %}
				  		</p>
			  		</div>
	  			{% endif %}
   			</div>
   			
   			<div class="row">
   				<div class="5u -3u 12u(mobile)">
   					<div class="input-group">
   						<span class="input-group-addon">
   							<i class="glyphicon glyphicon-envelope"></i>
   						</span>
    					<input class="form-control" id="id_{{ form.email.name }}" type="text" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" value="{{ form.email.value|default_if_none:'' }}">
   					</div>
   				</div>
   				{% if form.email.errors %}
			  		<div class="4u">
			  			<p class="alert alert-danger form-field-alert">
				  			{% for error in form.email.errors %}
				  				{{ error }}
				  			{% endfor %}
				  		</p>
			  		</div>
	  			{% endif %}
   			</div>
   			
   			<div class="row">
   				<div class="5u -3u 12u(mobile)">
   					<div class="input-group">
   						<span class="input-group-addon">
   							<i class="glyphicon glyphicon-list-alt"></i>
   						</span>
    					<textarea class="form-control" id="id_{{ form.message.name }}" type="text" name="{{ form.message.name }}" placeholder="{{ form.message.label }}" value="{{ form.message.value|default_if_none:'' }}"></textarea>
   					</div>
   				</div>
   			</div>
   			
   	 		<div class="row">
   				<div class="5u -3u 12u(mobile)">
	    			<button class="btn btn-large btn-primary auto-width float-left" type="submit">{% trans "Contact now" %}</button>
	    		</div>
	    	</div>
		</form>
    </div> <!-- /container --> 
</div> <!-- main -->
{% endblock %}