{% load staticfiles %}

{% load i18n %}

{% load cookielaw_tags %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{% block head_title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
	    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" alt="apple-touch-icon">
	    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui-1.11.4/jquery-ui.min.css' %}">
	    <link rel="stylesheet" href="{% static 'font-awesome-4.4.0/css/font-awesome.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}">
	    <!--[if lte IE 8]><script src="{% static 'js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
		<link rel="stylesheet" href="{% static 'css/forms.css' %}">
		<link rel="stylesheet" href="{% static 'css/news.css' %}">
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'css/ie9.css' %}" /><![endif]-->
	      
	    {% block head_css %}
	    {% endblock %}
	    
		{% block head_javascript %}
		{% endblock %}
		
	</head>
	<body >
		<form id="set_language_form" action="{% url 'set_language' %}" method="post">
		{% csrf_token %}
   				<input name="next" type="hidden" value="/" />
   				<select id="set_language_select" name="language" style="display:none">
   					{% get_current_language as LANGUAGE_CODE %}
   					{% get_available_languages as LANGUAGES %}
   					{% get_language_info_list for LANGUAGES as languages %}
   					{% for language in languages %}
   						<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %}>
   							{{ language.name_local|capfirst }} ({{ language.code }})
   						</option>
   					{% endfor %}
   				</select>
		</form>
		
		{% cookielaw_banner %}
		<div class="navbar-wrapper">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						  <span class="sr-only">Toggle navigation</span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						</button>
		   				<a class="navbar-brand" href="{% url 'home' %}">
							<img alt="tugymonline" src="{% static 'img/logo.jpg' %}" />
							<span>tugymonline</span>
						</a>
		 			</div> <!-- div.navbar-header -->

					<div id="navbar-collapse-1" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
				  			<li class="active">
				  				{% if request.user.is_authenticated %}
				  					<a href="{% url 'gymclient:home' %}">homepage<span class="sr-only">(current)</span></a>
				  				{% else %}
				  					<a href="{% url 'home' %}" class="current-page-item">homepage</a>
				  				{% endif %}
				  			</li>
							<!--  <li><a href="{% url 'gymnews:article_list' %}">{% trans 'news' %}</a></li>-->
							{% if not request.user.is_authenticated %}
								<li><a href="{% url 'gymcontact:contact' %}">{% trans 'contact' %}</a></li>
							{% endif %}
							{% block navbar_elements %}{% endblock %}
							<li>
								<a href="#" id="set_language">
				     				<img id="set_language-esp" class="set_language-flag" src="{% static 'img/flags/esp.png' %}" alt="ES">
				     				<img id="set_language-cat" class="set_language-flag" src="{% static 'img/flags/cat.png' %}" alt="CA">
				     				<img id="set_language-eng" class="set_language-flag" src="{% static 'img/flags/eng.png' %}" alt="EN">
			     				</a>
							</li>
						</ul>
					</div>
				</div> <!-- container -->
			</nav>
		</div> <!-- div.navbar-wrapper -->
		
		
		{% block content %} {% endblock %}   
		
			
		<footer id="footer-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<section>
							<h2>{% trans 'Llevamos el gimnasio a tu casa' %}</h2>
							<div class="row">
								<div class="col-md-6">
									<ul class="link-list">
										<li><a href="{% url 'mision-vision' %}">{% trans 'Mision & Vision' %}</a>
										<li><a href="{% url 'gymcontact:contact' %}">{% trans 'Contact' %}</a></li>
										<li>{% trans "Contact email" %}: info@tugymonline.com</li>
									</ul>
								</div>
							</div>
						</section>
					</div>
					<div class="col-md-4">
						<section>
							<h2>{% trans "Share TuGymOnline in:" %}</h2>
							<div class="social-buttons">
						        <a class="btn btn-facebook" target="_blank" title="{% trans 'Share on' %} Facebook" href="https://www.facebook.com/sharer/sharer.php?u=www.tugymonline.com">
						    		<i class="fa fa-facebook"></i>
						    	</a>
						    	<a class="btn btn-twitter" target="_blank" title="{% trans 'Share on' %} Twitter" href="http://twitter.com/home?status=www.tugymonline.com">
						    		<i class="fa fa-twitter"></i>
						    	</a>
						    	<a class="btn btn-googleplus" target="_blank" title="{% trans 'Share on' %} Google" href="https://plus.google.com/share?url=www.tugymonline.com">
						    		<i class="fa fa-google-plus"></i>
						    	</a>
						    	<a class="btn btn-linkedin" target="_blank" title="{% trans 'Share on' %} Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=www.tugymonline.com&title=tugymonline&summary=Clases dirigidas por internet">
						    		<i class="fa fa-linkedin"></i>
						    	</a>
					    	</div>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="copyright">
							&copy; {% trans "TuGymOnline 2016. All rights reserved." %}
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- Scripts -->
		<script src="{% static 'js/vendor/jquery-ui-1.11.4/external/jquery/jquery.js' %}"></script>
		<script src="{% static 'js/vendor/jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    	
    	<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
		<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
		<!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js' %}"></script><![endif]-->
    	<script src="{% static 'js/main.js' %}"></script>
    	
		{% block footer_javascript %}
		
		{% endblock %} 
	
	    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	    <script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			  ga('create', 'UA-71809716-1', 'auto');
			  ga('send', 'pageview');
		</script>
	</body>
</html>