{% load staticfiles %}

{% load i18n %}

{% load cookielaw_tags %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block head_title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" alt="apple-touch-icon">
	    
	    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui-1.11.4/jquery-ui.min.css' %}">
	    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui-1.11.4/jquery-ui.theme.min.css' %}">
	    <link rel="stylesheet" href="{% static 'font-awesome-4.4.0/css/font-awesome.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	    <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}">
	    <!--[if lte IE 8]><script src="{% static 'js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'css/ie9.css' %}" /><![endif]-->
	      
	    {% block head_css %}{% endblock %}
	    
		{% block head_javascript %}{% endblock %}
		
	</head>
	<body>
		<div id="page-wrapper">
			{% block navbar %}
		
			{% cookielaw_banner %}
	
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							<header id="header">
								<h1><a href="{% url 'home' %}" id="logo">tugymonline</a></h1>
								<nav id="nav">
									{% if request.user.is_authenticated %}
										<a href="{% url 'gymclient:home' %}" class="current-page-item">homepage</a>
									{% else %}
										<a href="{% url 'home' %}" class="current-page-item">homepage</a>
									{% endif %}
									
									{% block navbar_items %}{% endblock %}
									
									{% if request.user.is_authenticated %}
										<a href="{% url 'gymclient:profile_form' %}">{% trans 'My profile' %}</a>
									{% else %}
										<a href="/accounts/login/">{% trans 'Login' %}</a>
									{% endif %}
								</nav>
							</header>

						</div>
					</div>
				</div>
			</div>
		
			{% endblock %}
		
		
			{% block content %} {% endblock %}   
		
			
			<footer id="footer-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u 12u(mobile)">
	
							<section>
								<h2>{% trans 'Llevamos el gimnasio a tu casa' %}</h2>
								<div>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="link-list">
												<li><a href="{% url 'mision-vision' %}">{% trans 'Mision & Vision' %}</a>
												<li><a href="{% url 'gymcontact:contact' %}">{% trans 'Contact' %}</a></li>
												<li>{% trans "Contact email" %}: info@tugymonline.com</li>
											</ul>
										</div>
									</div>
								</div>
							</section>
	
						</div>
						<div class="4u 12u(mobile)">
							<section>
								<h2>{% trans "Share TuGymOnline in:" %}</h2>
								<div class="social-buttons">
							        <a class="btn btn-facebook" target="_blank" title="{% trans 'Share on' %} Facebook" href="https://www.facebook.com/sharer/sharer.php?u=www.tugymonline.com">
							    		<i class="fa fa-facebook"></i>
							    	</a>
							    	<a class="btn btn-twitter" target="_blank" title="{% trans 'Share on' %} Twitter" href="http://twitter.com/home?status=www.tugymonline.com">
							    		<i class="fa fa-twitter"></i>
							    	</a>
							    	<a class="btn btn-googleplus" target="_blank" title="{% trans 'Share on' %} Google" href="https://plus.google.com/share?url=www.tugymonline.com">
							    		<i class="fa fa-google-plus"></i>
							    	</a>
							    	<a class="btn btn-linkedin" target="_blank" title="{% trans 'Share on' %} Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=www.tugymonline.com&title=tugymonline&summary=Clases dirigidas por internet">
							    		<i class="fa fa-linkedin"></i>
							    	</a>
						    	</div>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<div id="copyright">
								&copy; {% trans "TuGymOnline 2015. All rights reserved." %}
							</div>
	
						</div>
					</div>
				</div>
			</footer>
			
		</div> <!-- /#page-wrapper -->
		
		<!-- Scripts -->
		<script src="{% static 'js/vendor/jquery-ui-1.11.4/external/jquery/jquery.js' %}"></script>
		<script src="{% static 'js/vendor/jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
    	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    	<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
		<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    	<script src="{% static 'js/plugins.js' %}"></script>
    	<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-viewport.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js' %}"></script><![endif]-->
    	<script src="{% static 'js/main.js' %}"></script>
    	
		{% block footer_javascript %} {% endblock %} 
	
	    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<!--
	        <script>
	            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	            e.src='//www.google-analytics.com/analytics.js';
	            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
	        </script>
		-->
	</body>
</html>