body {
	font-family: "Ubuntu Condensed", sans-serif;
	font-size:13.5pt;
	letter-spacing:-1px;
	color: #878e83;
}

h1, h2, h3, h4 {
	color: #007897; 
}

h2 {
    text-transform: lowercase;
    font-size: 1.6em;
    letter-spacing: -1px;
    margin-bottom: 1em;
}
p {
	line-height: 1.8em;
}
a {
	color: #5d93a2;
	text-decoration:underline;
}
a:hover {
	color:#007897;
	text-decoration:none;
}

ol, ul{
	list-style: none;
}

ul.link-list li{
	margin:0.75em 0 0 0;
	padding:0.75em 0 0 0;
	border-top: 1px solid #ced0b7;
}

ul.link-list li:first-child{
	margin-top:0;
	padding-top:0;
	border-top:0;
}

#content-wrapper {
	background-color: #e3e9dc;	
}

#footer-wrapper{
	background-color: #e3e9dc;
}

#content-wrapper section {
	background-color: white;
	padding:5px 10px 20px 20px;
	margin: 20px 0;
}

footer section .row{
	margin:0;
}

footer section .row > * {
	padding:0;
}

footer section ul {
	padding:0;
}	
#copyright {
	text-align: center;
	color: #a6a88f;
	border-top: 1px solid #ced0b7;
	padding: 1.5em 0 0 0;
}

#banner-wrapper {
	background: #e3e9dc;
	padding: 0;
}

#banner-wrapper > .container {
	padding-left:0px;
	padding-right:0px;
}
.carousel-indicators {
		bottom: -5px;
}
.carousel-caption {
	padding-bottom: 0px;
}
.carousel-caption h1 {
	font-size: 20px;
}
.carousel-caption p {
	line-height: 1.2em;
}
.carousel-caption p:last-child{
		display:none;
	}
@media screen and (min-width: 768px) {
	.carousel-indicators {
		bottom: 10px;
	}
	.carousel-caption {
		padding-bottom: 20px;
	}
	.carousel-caption h1 {
		font-size: 36px;
	}
	.carousel-caption p {
		line-height: 1.8em;
	}
	.carousel-caption p:last-child{
		display:block;
	}

	.row > * {
		padding: 35px 0 35px 35px;
	}
	#content-wrapper {
		background-color: white;	
	}
	#banner-wrapper > .container {
		padding-left:15px;
		padding-right:15px;
	}
	#content-wrapper section {
		padding:0;
		margin:0;
	}
	
	#banner-wrapper {
		background: #e3e9dc url(images/bg1.png);
		padding: 2em 0;
	}

	#banner {
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		position: relative;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 20px;
		background: #fff no-repeat 20px 20px;
		background-size: 1160px 265px;
		
	}

}
