{% extends "base.html" %}

{% load i18n %}

{% load l10n %}

{% load tz %}

{% block head_title %}{% trans "TuGymOnline" %}{% endblock %}

{% block content %}
    <div class="container">
    	{% if messages %}
    		{% for message in messages %}
    			{{ message }}
    		{% endfor %}
    	{% endif %}
    	{% if not messages %}
      		<form action="{% url 'sendcontact' %}" method="post" class="form-contact">
      		<h2 class="form-contact-heading">{% trans "Contact us" %}</h2>
      			{% csrf_token %}
    			{{ form }}
		    	<!-- 
    			<input type="text" class="input-block-level" placeholder="Name">
        		<input type="text" class="input-block-level" placeholder="Email Address">
        		<input type="text" class="input-block-level" placeholder="Your comments">
    	 		-->
		    	<button class="btn btn-large btn-primary" type="submit">{% trans "Contact now" %}</button>
			</form>
		{% endif %}
    </div> <!-- /container --> 
{% endblock %}