{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Mision & Vision" %}{% endblock %}

{% block content %}
	<div id="main">
    	<div class="container">
		 	<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<section>
						<h2>{% trans 'Mision' %}</h2>
						<p>
							{% blocktrans %}Nuestra misión consiste en proporcionar una plataforma que sirva de guía y motivación para mejorar la calidad de vida de las personas estén dónde estén.
							{% endblocktrans %}
						</p>
					</section>
				</div>
			</div> 
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<section>
						<h2>{% trans 'Vision' %}</h2>
						<p>
							{% blocktrans %}Cada vez más gente tiene trabajos sedentarios que les obligan a permanecer muchas horas sentados. Además en la sociedad en la que vivimos el tiempo es un recurso fundamental. En TuGymOnline creemos que las personas necesitaran un medio para poder escapar de sus rutinas y practicar deporte. Además pensamos que es importante que lo puedan practicar en el lugar que deseen o dónde más cómodos se sientan.<br/>Por esto TuGymOnline quiere traer a los gimnasios a las casas de las personas.
							{% endblocktrans %}
						</p>
					</section>
				</div>
			</div> 
		</div>
	</div>
{% endblock %}