{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container verification_send">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="row">
    		<h1 class="col-md-6 col-md-offset-3">{% trans "Bad Token" %}</h1>
		</div>
        <div class="row">
        	<p class="col-md-6 col-md-offset-3">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
    {% else %}
    	<div class="row">
    		<h1 class="col-md-4 col-md-offset-4">{% trans "Change Password" %}</h1>
		</div>
        {% if form %}
            <form method="POST" action="." class="form-gymaccount form-center">
                {% csrf_token %}
                <div class="row">
	   				<div class="col-md-4 col-md-offset-4">
	   					<input id="id_{{ form.password1.name }}" 
	   						   type="password" 
	   						   name="{{ form.password1.name }}" 
	   						   placeholder="{{ form.password1.label }}" 
	   						   value="{{ form.password1.value|default_if_none:'' }}">
	   				</div>
	   				{% if form.password1.errors %}
				  		<div class="col-md-4">
				  			<p class="alert alert-danger form-field-alert">
					  			{% for error in form.password1.errors %}
					  				{{ error }}
					  			{% endfor %}
					  		</p>
				  		</div>
		  			{% endif %}
		  		</div>
		  		<div class="row">
	   				<div class="col-md-4 col-md-offset-4">
	   					<input id="id_{{ form.password2.name }}" 
	   						   type="password" 
	   						   name="{{ form.password2.name }}" 
	   						   placeholder="{{ form.password2.label }}" 
	   						   value="{{ form.password2.value|default_if_none:'' }}">
	   				</div>
	   				{% if form.password2.errors %}
				  		<div class="col-md-4">
				  			<p class="alert alert-danger form-field-alert">
					  			{% for error in form.password2.errors %}
					  				{{ error }}
					  			{% endfor %}
					  		</p>
				  		</div>
		  			{% endif %}
	   			</div>
	   			<div class="row">
        			<div class="col-md-4 col-md-offset-4">
		        		<button class="btn btn-large btn-primary" type="submit">{% trans 'Change password' %}</button>
        			</div>
        		</div>
                
            </form>
        {% else %}
        <div class="row">
        	<p class="col-md-6 col-md-offset-3">{% trans 'Your password is now changed.' %}</p>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
