{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "News Article" %}{% endblock %}

{% block content %}
<div id="main">	
    <div class="container">
   		{% include "gymnews/article_snippet.html" %}
	    <div class="row">
	    	<div class="8u -2u 12u(mobile)">
		    	<a href="{% url 'gymnews:article_form' article.id %}">Edit</a>
		    	&nbsp;
		    	<a href="{% url 'gymnews:delete_article' article.id %}">Delete</a>
	    	</div>
	    </div>
    </div> <!-- /container --> 
</div> <!-- main -->
{% endblock %}